<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Pizzeria</title>
    <script type="text/javascript" th:inline="javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<style>
    .my-container{
        padding: 120px 25%;
    }
    .card-container{
        width: 100%;
    }

    .add-button{
        width: 100%;
        height: 40px;
        margin-bottom: 30px;
    }
    .navbar{
        position: fixed;
        height: 80px;
        width: 100%;
        z-index: 1;
    }
</style>
<nav th:if="${user}" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Pizzeria</a>
        <form class="d-flex">
            <a th:if="${userRole == 'ADMIN'}"  th:href='${"/orders"}' style="padding-right: 20px;">
                <button type="button" class="btn btn-outline-primary">To order list</button>
            </a>
            <a th:if="${user}" th:href="@{/logout}">
                <button type="button" class="btn btn-outline-secondary">Sign out</button>
            </a>
        </form>
    </div>
</nav>
<div class="my-container">

<!--    <a th:if="${user}" th:href="@{/logout}">-->
<!--        <button type="button" class="btn btn-outline-secondary">Sign out</button>-->
<!--    </a>-->

    <a th:unless="${user}" th:href="@{/login}">
        <button type="button" class="btn btn-primary btn-lg">Sign in</button>
    </a>

    <a th:unless="${user}" href="/registration" id="reg">
        <button type="button" class="btn btn-outline-secondary btn-lg">Sign up</button>
    </a>

<!--    <a th:if="${userRole == 'ADMIN'}"  th:href='${"/orders"}'>To order list</a>-->
    <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/add"}'>
        <button class="btn btn-primary add-button" type="button">Add new ingredient</button>
    </a>

    <div class="card-container">
        <div class="card mb-3" style="max-width: 100%;" th:id="${ingredient.getId()}" th:each="ingredient: ${ingredients}">
            <div class="row g-0" style="align-items: center;">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${ingredient.getName().toUpperCase()}"></h5>
                        <p class="card-text" th:text="'Price: ' + ${ingredient.getPrice()}"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <button th:if="${userRole == 'USER'}" type="button" class="btn btn-primary choose-btn" th:id="${ingredient.getId()}" th:attr="data-ingredient-id=${ingredient.getId()}, data-ingredient-cost=${ingredient.getPrice()}" style="width: 135px">Add</button>
                    <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/change/" + ingredient.getId()}' style="padding-right: 20px">
                        <button type="button" class="btn btn-outline-primary">Change</button>
                    </a>
                    <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/delete/" + ingredient.getId()}'>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>


<!--    <div th:id="${ingredient.getId()}" th:each="ingredient: ${ingredients}">-->
<!--        <div class="ingredient">-->
<!--            <form action="/" method="get">-->
<!--                <p th:text="'id:' + ${ingredient.getId()}" style="display: none;"/>-->
<!--                <p  th:text="'Ingredient name: ' + ${ingredient.getName()}"></p>-->
<!--                <p  th:text="'ingredient price: ' + ${ingredient.getPrice()}"></p>-->
<!--                <button th:if="${userRole == 'USER'}" class="btn btn-sm choose-btn" th:id="${ingredient.getId()}" th:attr="data-ingredient-id=${ingredient.getId()}, data-ingredient-cost=${ingredient.getPrice()}">Add</button>-->
<!--                <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/change/" + ingredient.getId()}'>Change</a>-->
<!--                <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/delete/" + ingredient.getId()}'>Delete</a>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    <form th:if="${userRole == 'USER'}" name="orderForm" style="width: 100%">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:required="required">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" th:required="required">
        </div>
        <div class="mb-3 form-check">
            <div class="form-check-label total-cost"></div>
        </div>
        <button class="btn btn-primary send-btn">Submit</button>
    </form>

<!--    <form th:if="${userRole == 'USER'}" action="/add" method="post" name="orderForm">-->
<!--        <input type="text" name="name" id="name" th:required="required"/>-->
<!--        <input type="tel" name="phone" id="phone" th:required="required">-->
<!--&lt;!&ndash;        <button type="submit" id="submit" class="btn btn-sm subbb-btn">Submit</button>&ndash;&gt;-->
<!--    </form>-->
<!--    <div th:if="${userRole == 'USER'}" class="total-cost"></div>-->
<!--    <button th:if="${userRole == 'USER'}" class="btn btn-sm send-btn">Send</button>-->
</div>

<script>
    // let menu = document.querySelector('.header__menu');
    // addEventListener(".choose-btn")
    let ingredients = [];
    let totalCost = 0;

    // $(".delete-btn").click((e) => {
    //     e.preventDefault();
    //     let btn = $(e.currentTarget);
    //     let ingredientId = btn.attr("data-ingredient-id");
    //     console.log(ingredientId);
    //     $.post(`/ingredients/delete/${ingredientId}`, () => {
    //     });
    //     // document.location = "/";
    // });
    //
    // $(".change-btn").click((e) => {
    //     e.preventDefault();
    //     let btn = $(e.currentTarget);
    //     let ingredientId = btn.attr("data-ingredient-id");
    //     console.log(ingredientId);
    //     document.location = `/ingredients/change/${ingredientId}`;
    // });

    $(".total-cost").innerHTML=""
    let totalCostEl = document.createElement("p");
    totalCostEl.innerText = `Total Cost: ${totalCost}`;
    totalCostEl.classList.add("total-cost__label");
    $(".total-cost").append(totalCostEl);

    $(".total-cost__label").change((e) => {
        console.log(e)
    })

    $(".choose-btn").click((e) => {
        e.preventDefault();
        let btn = $(e.currentTarget);
        let ingredientId = btn.attr("data-ingredient-id");
        ingredients.push(ingredientId);
        let ingredientCost = btn.attr("data-ingredient-cost");
        totalCost = totalCost + Number.parseInt(ingredientCost)
        totalCostEl.innerText = `Total Cost: ${totalCost}`;
        console.log(ingredients, totalCost);
        // $.post("/task/" + taskId + "/delete", () => {
        // });
        // document.location.href = "/board";
    });

    $(".send-btn").click((e) => {
        // console.log(ingredients);
        let form = document.forms.orderForm;
        console.log(form.elements.name.value, form.elements.phone.value, ingredients);
        const ingredientsString = ingredients.join(' ');
        $.post("/orders/add", {
            name: form.elements.name.value,
            phone: form.elements.phone.value,
            cost: totalCost,
            ingredients: ingredientsString
        }); // add done label
    });

    // $(".subbb-btn").click((e) => {
    //     e.preventDefault();
    //     console.log(e);
    // });
</script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <title>Index</title>-->
<!--    <script type="text/javascript" th:inline="javascript"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--</head>-->
<!--<header>-->
<!--  <h2>Index</h2>-->
<!--</header>-->
<!--<body>-->
<!--  <div>-->
<!--    <div th:id="${ingredient.getId()}" th:each="ingredient: ${ingredients}">-->
<!--        <div class="ingredient">-->
<!--            <form action="/" method="get">-->
<!--                <p th:text="'id:' + ${ingredient.getId()}" style="display: none;"/>-->
<!--                <p  th:text="'Ingredient name: ' + ${ingredient.getName()}"></p>-->
<!--                <p  th:text="'ingredient price: ' + ${ingredient.getPrice()}"></p>-->
<!--                <button  class="btn btn-sm choose-btn" th:id="${ingredient.getId()}" th:attr="data-ingredient-id=${ingredient.getId()}, data-ingredient-cost=${ingredient.getPrice()}">CLick</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <form action="/add" method="post" name="orderForm">-->
<!--        <input type="text" name="name" id="name" th:required="required"/>-->
<!--        <input type="text" name="phone" id="phone" th:required="required">-->
<!--        <button type="submit" id="submit" class="btn btn-sm subbb-btn">Submit</button>-->
<!--    </form>-->
<!--    <div class="total-cost"></div>-->
<!--    <button class="btn btn-sm send-btn">Send</button>-->
<!--  </div>-->

<!--<script>-->
<!--    // let menu = document.querySelector('.header__menu');-->
<!--    // addEventListener(".choose-btn")-->
<!--    let ingredients = [];-->
<!--    let totalCost = 0;-->

<!--    $(".total-cost").innerHTML=""-->
<!--    let totalCostEl = document.createElement("p");-->
<!--    totalCostEl.innerText = `Total Cost: ${totalCost}`;-->
<!--    totalCostEl.classList.add("total-cost__label");-->
<!--    $(".total-cost").append(totalCostEl);-->

<!--    $(".total-cost__label").change((e) => {-->
<!--        console.log(e)-->
<!--    })-->

<!--    $(".choose-btn").click((e) => {-->
<!--        e.preventDefault();-->
<!--        let btn = $(e.currentTarget);-->
<!--        let ingredientId = btn.attr("data-ingredient-id");-->
<!--        ingredients.push(ingredientId);-->
<!--        let ingredientCost = btn.attr("data-ingredient-cost");-->
<!--        totalCost = totalCost + Number.parseInt(ingredientCost)-->
<!--        totalCostEl.innerText = `Total Cost: ${totalCost}`;-->
<!--        console.log(ingredients, totalCost);-->
<!--        // $.post("/task/" + taskId + "/delete", () => {-->
<!--        // });-->
<!--        // document.location.href = "/board";-->
<!--    });-->

<!--    $(".send-btn").click((e) => {-->
<!--        // console.log(ingredients);-->
<!--        let form = document.forms.orderForm;-->
<!--        console.log(form.elements.name.value, form.elements.phone.value, ingredients);-->
<!--        const ingredientsString = ingredients.join(' ');-->
<!--        $.post("/add", {-->
<!--            name: form.elements.name.value,-->
<!--            phone: form.elements.phone.value,-->
<!--            ingredients: ingredientsString-->
<!--        });-->
<!--    });-->

<!--    // $(".subbb-btn").click((e) => {-->
<!--    //     e.preventDefault();-->
<!--    //     console.log(e);-->
<!--    // });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->