<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
    <script type="text/javascript" th:inline="javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<header>
    <h2>Index</h2>
</header>
<body>
<div>
    <p><a th:if="${user}" th:href="@{/logout}">Logout</a></p>
    <p><a th:unless="${user}" th:href="@{/login}">Login</a></p>
    <p><a th:unless="${user}" href="/registration" id="reg">Регистрация</a></p>
    <a th:if="${userRole == 'ADMIN'}"  th:href='${"/orders"}'>To order list</a>
    <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/add"}'>Add new ingredient</a>
    <div th:id="${ingredient.getId()}" th:each="ingredient: ${ingredients}">
        <div class="ingredient">
            <form action="/" method="get">
                <p th:text="'id:' + ${ingredient.getId()}" style="display: none;"/>
                <p  th:text="'Ingredient name: ' + ${ingredient.getName()}"></p>
                <p  th:text="'ingredient price: ' + ${ingredient.getPrice()}"></p>
                <button th:if="${userRole == 'USER'}" class="btn btn-sm choose-btn" th:id="${ingredient.getId()}" th:attr="data-ingredient-id=${ingredient.getId()}, data-ingredient-cost=${ingredient.getPrice()}">Add</button>
<!--                <button th:if="${userRole == 'ADMIN'}" class="btn btn-sm change-btn" th:id="${ingredient.getId()}" th:attr="data-ingredient-id=${ingredient.getId()}">Change</button>-->
<!--                <button th:if="${userRole == 'ADMIN'}" class="btn btn-sm delete-btn" th:id="${ingredient.getId()}" th:attr="data-ingredient-id=${ingredient.getId()}">Delete</button>-->
                <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/change/" + ingredient.getId()}'>Change</a>
                <a th:if="${userRole == 'ADMIN'}"  th:href='${"/ingredients/delete/" + ingredient.getId()}'>Delete</a>
            </form>
        </div>
    </div>
    <form th:if="${userRole == 'USER'}" action="/add" method="post" name="orderForm">
        <input type="text" name="name" id="name" th:required="required"/>
        <input type="tel" name="phone" id="phone" th:required="required">
<!--        <button type="submit" id="submit" class="btn btn-sm subbb-btn">Submit</button>-->
    </form>
    <div th:if="${userRole == 'USER'}" class="total-cost"></div>
    <button th:if="${userRole == 'USER'}" class="btn btn-sm send-btn">Send</button>
</div>

<script>
    // let menu = document.querySelector('.header__menu');
    // addEventListener(".choose-btn")
    let ingredients = [];
    let totalCost = 0;

    // $(".delete-btn").click((e) => {
    //     e.preventDefault();
    //     let btn = $(e.currentTarget);
    //     let ingredientId = btn.attr("data-ingredient-id");
    //     console.log(ingredientId);
    //     $.post(`/ingredients/delete/${ingredientId}`, () => {
    //     });
    //     // document.location = "/";
    // });
    //
    // $(".change-btn").click((e) => {
    //     e.preventDefault();
    //     let btn = $(e.currentTarget);
    //     let ingredientId = btn.attr("data-ingredient-id");
    //     console.log(ingredientId);
    //     document.location = `/ingredients/change/${ingredientId}`;
    // });

    $(".total-cost").innerHTML=""
    let totalCostEl = document.createElement("p");
    totalCostEl.innerText = `Total Cost: ${totalCost}`;
    totalCostEl.classList.add("total-cost__label");
    $(".total-cost").append(totalCostEl);

    $(".total-cost__label").change((e) => {
        console.log(e)
    })

    $(".choose-btn").click((e) => {
        e.preventDefault();
        let btn = $(e.currentTarget);
        let ingredientId = btn.attr("data-ingredient-id");
        ingredients.push(ingredientId);
        let ingredientCost = btn.attr("data-ingredient-cost");
        totalCost = totalCost + Number.parseInt(ingredientCost)
        totalCostEl.innerText = `Total Cost: ${totalCost}`;
        console.log(ingredients, totalCost);
        // $.post("/task/" + taskId + "/delete", () => {
        // });
        // document.location.href = "/board";
    });

    $(".send-btn").click((e) => {
        // console.log(ingredients);
        let form = document.forms.orderForm;
        console.log(form.elements.name.value, form.elements.phone.value, ingredients);
        const ingredientsString = ingredients.join(' ');
        $.post("/orders/add", {
            name: form.elements.name.value,
            phone: form.elements.phone.value,
            cost: totalCost,
            ingredients: ingredientsString
        }); // add done label
    });

    // $(".subbb-btn").click((e) => {
    //     e.preventDefault();
    //     console.log(e);
    // });
</script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <title>Index</title>-->
<!--    <script type="text/javascript" th:inline="javascript"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--</head>-->
<!--<header>-->
<!--  <h2>Index</h2>-->
<!--</header>-->
<!--<body>-->
<!--  <div>-->
<!--    <div th:id="${ingredient.getId()}" th:each="ingredient: ${ingredients}">-->
<!--        <div class="ingredient">-->
<!--            <form action="/" method="get">-->
<!--                <p th:text="'id:' + ${ingredient.getId()}" style="display: none;"/>-->
<!--                <p  th:text="'Ingredient name: ' + ${ingredient.getName()}"></p>-->
<!--                <p  th:text="'ingredient price: ' + ${ingredient.getPrice()}"></p>-->
<!--                <button  class="btn btn-sm choose-btn" th:id="${ingredient.getId()}" th:attr="data-ingredient-id=${ingredient.getId()}, data-ingredient-cost=${ingredient.getPrice()}">CLick</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    <form action="/add" method="post" name="orderForm">-->
<!--        <input type="text" name="name" id="name" th:required="required"/>-->
<!--        <input type="text" name="phone" id="phone" th:required="required">-->
<!--        <button type="submit" id="submit" class="btn btn-sm subbb-btn">Submit</button>-->
<!--    </form>-->
<!--    <div class="total-cost"></div>-->
<!--    <button class="btn btn-sm send-btn">Send</button>-->
<!--  </div>-->

<!--<script>-->
<!--    // let menu = document.querySelector('.header__menu');-->
<!--    // addEventListener(".choose-btn")-->
<!--    let ingredients = [];-->
<!--    let totalCost = 0;-->

<!--    $(".total-cost").innerHTML=""-->
<!--    let totalCostEl = document.createElement("p");-->
<!--    totalCostEl.innerText = `Total Cost: ${totalCost}`;-->
<!--    totalCostEl.classList.add("total-cost__label");-->
<!--    $(".total-cost").append(totalCostEl);-->

<!--    $(".total-cost__label").change((e) => {-->
<!--        console.log(e)-->
<!--    })-->

<!--    $(".choose-btn").click((e) => {-->
<!--        e.preventDefault();-->
<!--        let btn = $(e.currentTarget);-->
<!--        let ingredientId = btn.attr("data-ingredient-id");-->
<!--        ingredients.push(ingredientId);-->
<!--        let ingredientCost = btn.attr("data-ingredient-cost");-->
<!--        totalCost = totalCost + Number.parseInt(ingredientCost)-->
<!--        totalCostEl.innerText = `Total Cost: ${totalCost}`;-->
<!--        console.log(ingredients, totalCost);-->
<!--        // $.post("/task/" + taskId + "/delete", () => {-->
<!--        // });-->
<!--        // document.location.href = "/board";-->
<!--    });-->

<!--    $(".send-btn").click((e) => {-->
<!--        // console.log(ingredients);-->
<!--        let form = document.forms.orderForm;-->
<!--        console.log(form.elements.name.value, form.elements.phone.value, ingredients);-->
<!--        const ingredientsString = ingredients.join(' ');-->
<!--        $.post("/add", {-->
<!--            name: form.elements.name.value,-->
<!--            phone: form.elements.phone.value,-->
<!--            ingredients: ingredientsString-->
<!--        });-->
<!--    });-->

<!--    // $(".subbb-btn").click((e) => {-->
<!--    //     e.preventDefault();-->
<!--    //     console.log(e);-->
<!--    // });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->